*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(221, 221, 221, 0.2);
  font-family: Roboto;
}

#menu {
  text-align: center;
  padding: 10px 0;
  position: relative;;
  top: 0;
  left: 0;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
#menu-list {
  display: flex;
  justify-content: center;
}
.menu-item {
  list-style-type: none;
  margin: 0 80px;
  border: 1px double #fff;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 2s ease-in-out;
}
.menu-item:hover {
  background-color: rgb(26, 21, 45);
}
.menu-item a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

h2 {
  font-size: 1.1em;
  font-weight: 500;
}
p {
  width: 95%;
  text-align: justify;
  font-weight: 300;
  margin-top: 10px;
}
h2, p {
  padding-left: 10px;
}

span {
  cursor: pointer;
}
span:hover {
  color: red;
}

section {
  display: flex;
  flex-direction: column;
  margin: 43px 0;
}
.block-list {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 30px;
}
.list {
  display: flex;
  flex-direction: column;
  padding: 0 4px 0 10px;
}
img {
  border-radius: 50%;
  width: 60px;
  vertical-align: middle;
}
